* {
  text-decoration: none;
}

.navbar {
  background-color:rgb(7, 18, 90);
  font-size: 30px; 
  padding-left: 25px;
  padding-right: 25px;
}


.navdiv {
  display: flex;
  align-items: center;
  justify-content: space-between;
  flex-wrap: wrap; 
}


.section a {
  font-size: 35px;
  background-color: rgb(207, 204, 204);
  padding: 30px;
  font-family: 'Lilita One';
}


.navbar li {
  list-style: none;
  display: inline-block;
  padding: 15px;
  margin-right: 50px;
}


.major {
  color: white;
  padding: 30px;
  font-family: 'Lilita One';
}


.home {
  color: white;
  background-color:rgb(162, 21, 36);
  padding: 30px;
  font-family: 'Lilita One';
}

html, body {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}



  .prog1{
    width: 300px;
    height: 300px;
    background-color:rgb(207, 204, 204);
    border-radius: 100%; 
    display: flex;
    align-items: center;
    justify-content: center;
    color: rgb(0, 0, 0); 
    font-family: 'Lilita One';
    font-size: 35px;
    text-align: center;
    position: fixed;
    left: 140px;
    top: 200px;
}

.basic{
  width: 300px;
    height: 300px;
    background-color:rgb(162, 21, 36);
    border-radius: 100%; 
    display: flex;
    align-items: center;
    justify-content: center;
    color: rgb(0, 0, 0); 
    font-family: 'Lilita One';
    font-size: 30px;
    text-align: center;
    position: fixed;
    left: 550px;
    top: 200px;
}

.apps{
  width: 300px;
  height: 300px;
  background-color:rgb(207, 204, 204);
  border-radius: 100%; 
  display: flex;
  align-items: center;
  justify-content: center;
  color: rgb(0, 0, 0); 
  font-family: 'Lilita One';
  font-size: 35px;
  text-align: center;
  position: fixed;
  left: 950px;
  top: 200px;

}
.first{
  position: fixed;
  font-family: 'Lilita One';
  top: 520px;
  left: 210px;
  font-size: 35px;
}
.second{
  position: fixed;
  font-family: 'Lilita One';
  top: 520px;
  left: 600px;
}

.third{
  position: fixed;
  font-family: 'Lilita One';
  top: 520px;
  left: 1030px;
}
@media (min-width:300px)and (max-width: 375px) {
  .navbar {
    font-size: 15px; 
    padding-left: 10px;
    padding-right: 10px;
  }

  .section a {
    font-size: 15px; 
    padding: 10px; 
  }

  .navbar li {
    margin-right: 15px;
    padding: 15px; 
  }

  .major {
    padding: 15px; 
    font-size: 15px;
    position: fixed;
    left:210px;
    top: 10px;
  }

  .home {
    font-size: 15px; 
    margin: -20px;
    padding: 15px;
    position: fixed;
    left: 150px;
  }
  .prog1{
    width: 120px;
      height: 120px;
      background-color:rgb(207, 204, 204);
      border-radius: 100%; 
      display: flex;
      align-items: center;
      justify-content: center;
      color: rgb(0, 0, 0); 
      font-family: 'Lilita One';
      font-size: 15px;
      text-align: center;
      position: fixed;
      left: 130px;
      top: 90px;
    
    }
    .first{
    
      position: fixed;
      font-family: 'Lilita One';
      top: 210px;
      left: 155px;
      font-size: 15px;
    
    }
     
    .basic{
      width: 120px;
      height: 120px;
      background-color:rgb(162, 21, 36);
      border-radius: 100%; 
      display: flex;
      align-items: center;
      justify-content: center;
      color: rgb(0, 0, 0); 
      font-family: 'Lilita One';
      font-size: 15px;
      text-align: center;
      position: fixed;
      left: 130px;
      top: 250px;
    
    }
    
    .second{
      position: fixed;
      font-family: 'Lilita One';
      top: 370px;
      left: 155px;
      font-size: 15px;
    } 
    
    .apps{
      width: 120px;
      height: 120px;
      background-color:rgb(207, 204, 204);
      border-radius: 100%; 
      display: flex;
      align-items: center;
      justify-content: center;
      color: rgb(0, 0, 0); 
      font-family: 'Lilita One';
      font-size: 15px;
      text-align: center;
      position: fixed;
      left: 130px;
      top: 420px;
    
    }
    
    .third{
      position: fixed;
      font-family: 'Lilita One';
      top: 540px;
      left: 155px;
      font-size: 15px;
    }
    
}


@media (min-width:376px)and (max-width: 506px) {
  .navbar {
    font-size: 15px; 
    padding-left: 10px;
    padding-right: 10px;
  }

  .section a {
    font-size: 15px; 
    padding: 10px; 
  }

  .navbar li {
    margin-right: 15px;
    padding: 8px; 
  }

  .major {
    padding: 15px; 
    font-size: 15px;
  }

  .home {
    font-size: 15px; 
    margin: -20px;
    padding: 15px;
  }
  .prog1{
    width: 150px;
      height: 150px;
      background-color:rgb(207, 204, 204);
      border-radius: 100%; 
      display: flex;
      align-items: center;
      justify-content: center;
      color: rgb(0, 0, 0); 
      font-family: 'Lilita One';
      font-size: 15px;
      text-align: center;
      position: fixed;
      left: 130px;
      top: 100px;
    
    }
    .first{
    
      position: fixed;
      font-family: 'Lilita One';
      top: 250px;
      left: 170px;
      font-size: 15px;
    
    }
     
    .basic{
      width: 150px;
      height: 150px;
      background-color:rgb(162, 21, 36);
      border-radius: 100%; 
      display: flex;
      align-items: center;
      justify-content: center;
      color: rgb(0, 0, 0); 
      font-family: 'Lilita One';
      font-size: 15px;
      text-align: center;
      position: fixed;
      left: 130px;
      top: 330px;
    
    }
    
    .second{
      position: fixed;
      font-family: 'Lilita One';
      top: 480px;
      left: 170px;
      font-size: 15px;
    } 
    
    .apps{
      width: 150px;
      height: 150px;
      background-color:rgb(207, 204, 204);
      border-radius: 100%; 
      display: flex;
      align-items: center;
      justify-content: center;
      color: rgb(0, 0, 0); 
      font-family: 'Lilita One';
      font-size: 15px;
      text-align: center;
      position: fixed;
      left: 130px;
      top: 550px;
    
    }
    
    .third{
      position: fixed;
      font-family: 'Lilita One';
      top: 700px;
      left: 170px;
      font-size: 15px;
    }
    
    }
    
  


@media (min-width: 507px) and (max-width: 600px) {

  .navbar {
    font-size: 15px; 
    padding-left: 20px;
    padding-right: 10px;
  }

  .section a {
    font-size: 18px; 
    padding: 20px; 
  }

  .navbar li {
    margin-right: 15px;
    padding: 20px; 
  }

  .major {
    padding: 20px; 
    font-size: 18px;
  }

  .home {
    font-size: 18px; 
    margin: -20px;
    padding: 15px;
  }

  .prog1{
    width: 180px;
      height: 180px;
      background-color:rgb(207, 204, 204);
      border-radius: 100%; 
      display: flex;
      align-items: center;
      justify-content: center;
      color: rgb(0, 0, 0); 
      font-family: 'Lilita One';
      font-size: 20px;
      text-align: center;
      position: fixed;
      left: 180px;
      top: 100px;
    
    }
    .first{
    
      position: fixed;
      font-family: 'Lilita One';
      top: 290px;
      left: 220px;
      font-size: 20px;
    
    }
     
    .basic{
      width: 180px;
      height: 180px;
      background-color:rgb(162, 21, 36);
      border-radius: 100%; 
      display: flex;
      align-items: center;
      justify-content: center;
      color: rgb(0, 0, 0); 
      font-family: 'Lilita One';
      font-size: 18px;
      text-align: center;
      position: fixed;
      left: 180px;
      top: 370px;
    
    }
    
    .second{
      position: fixed;
      font-family: 'Lilita One';
      top: 560px;
      left: 210px;
      font-size: 20px;
    } 
    
    .apps{
      width: 180px;
      height: 180px;
      background-color:rgb(207, 204, 204);
      border-radius: 100%; 
      display: flex;
      align-items: center;
      justify-content: center;
      color: rgb(0, 0, 0); 
      font-family: 'Lilita One';
      font-size: 20px;
      text-align: center;
      position: fixed;
      left: 180px;
      top: 650px;
    
    }
    
    .third{
      position: fixed;
      font-family: 'Lilita One';
      top: 840px;
      left: 210px;
      font-size: 20px;
    }
    
    }
    


@media (min-width: 601px) and (max-width: 680px) {
  .navbar {
    font-size: 15px; 
    padding-left: 20px;
    padding-right: 10px;
  }

  .section a {
    font-size: 22px; 
    padding: 20px; 
  }

  .navbar li {
    margin-right: 15px;
    padding: 25px; 
  }

  .major {
    padding: 20px; 
    font-size: 22px;
  }

  .home {
    font-size: 22px; 
    margin: -20px;
    padding: 15px;
  }


  .prog1{
    width: 180px;
      height: 180px;
      background-color:rgb(207, 204, 204);
      border-radius: 100%; 
      display: flex;
      align-items: center;
      justify-content: center;
      color: rgb(0, 0, 0); 
      font-family: 'Lilita One';
      font-size: 20px;
      text-align: center;
      position: fixed;
      left: 220px;
      top: 120px;
    
    }
    .first{
    
      position: fixed;
      font-family: 'Lilita One';
      top: 310px;
      left: 260px;
      font-size: 20px;
    
    }
     
    .basic{
      width: 180px;
      height: 180px;
      background-color:rgb(162, 21, 36);
      border-radius: 100%; 
      display: flex;
      align-items: center;
      justify-content: center;
      color: rgb(0, 0, 0); 
      font-family: 'Lilita One';
      font-size: 18px;
      text-align: center;
      position: fixed;
      left: 220px;
      top: 370px;
    
    }
    
    .second{
      position: fixed;
      font-family: 'Lilita One';
      top: 560px;
      left: 260px;
      font-size: 20px;
    } 
    
    .apps{
      width: 180px;
      height: 180px;
      background-color:rgb(207, 204, 204);
      border-radius: 100%; 
      display: flex;
      align-items: center;
      justify-content: center;
      color: rgb(0, 0, 0); 
      font-family: 'Lilita One';
      font-size: 20px;
      text-align: center;
      position: fixed;
      left: 220px;
      top: 650px;
    
    }
    
    .third{
      position: fixed;
      font-family: 'Lilita One';
      top: 840px;
      left: 260px;
      font-size: 20px;
    }
    
    }
    
  
@media (min-width: 681px) and (max-width: 764px) {
  .navbar {
    font-size: 15px; 
    padding-left: 20px;
    padding-right: 10px;
  }

  .section a {
    font-size: 22px; 
    padding: 20px; 
  }

  .navbar li {
    margin-right: 15px;
    padding: 25px; 
  }

  .major {
    padding: 20px; 
    font-size: 22px;
  }

  .home {
    font-size: 22px; 
    margin: -20px;
    padding: 15px;
  }
 
  .prog1{
    width: 180px;
      height: 180px;
      background-color:rgb(207, 204, 204);
      border-radius: 100%; 
      display: flex;
      align-items: center;
      justify-content: center;
      color: rgb(0, 0, 0); 
      font-family: 'Lilita One';
      font-size: 20px;
      text-align: center;
      position: fixed;
      left: 260px;
      top: 120px;
    
    }
    .first{
    
      position: fixed;
      font-family: 'Lilita One';
      top: 310px;
      left: 300px;
      font-size: 20px;
    
    }
     
    .basic{
      width: 180px;
      height: 180px;
      background-color:rgb(162, 21, 36);
      border-radius: 100%; 
      display: flex;
      align-items: center;
      justify-content: center;
      color: rgb(0, 0, 0); 
      font-family: 'Lilita One';
      font-size: 18px;
      text-align: center;
      position: fixed;
      left: 260px;
      top: 370px;
    
    }
    
    .second{
      position: fixed;
      font-family: 'Lilita One';
      top: 560px;
      left: 300px;
      font-size: 20px;
    } 
    
    .apps{
      width: 180px;
      height: 180px;
      background-color:rgb(207, 204, 204);
      border-radius: 100%; 
      display: flex;
      align-items: center;
      justify-content: center;
      color: rgb(0, 0, 0); 
      font-family: 'Lilita One';
      font-size: 20px;
      text-align: center;
      position: fixed;
      left: 260px;
      top: 650px;
    
    }
    
    .third{
      position: fixed;
      font-family: 'Lilita One';
      top: 840px;
      left: 300px;
      font-size: 20px;
    }
  }
  @media (min-width: 765px) and (max-width: 1100px) {
    .navbar {
      font-size: 15px; 
      padding-left: 20px;
      padding-right: 10px;
    }
  
    .section a {
      font-size: 30px; 
      padding: 20px; 
      position: relative;
      top: 1px;
    }
  
    .navbar li {
      margin-right: 15px;
      padding: 40px; 
    }
  
    .major {
      padding: 20px; 
      font-size: 30px;
    }
  
    .home {
      font-size: 30px; 
      margin: -20px;
      padding: 15px;
    }
    

    .prog1{
      width: 200px;
        height: 200px;
        background-color:rgb(207, 204, 204);
        border-radius: 100%; 
        display: flex;
        align-items: center;
        justify-content: center;
        color: rgb(0, 0, 0); 
        font-family: 'Lilita One';
        font-size: 20px;
        text-align: center;
        position: fixed;
        left: 30px;
        top: 250px;
      
      }
      .first{
      
        position: fixed;
        font-family: 'Lilita One';
        top: 500px;
        left: 80px;
        font-size: 20px;
      
      }
       
      .basic{
        width: 200px;
        height: 200px;
        background-color:rgb(162, 21, 36);
        border-radius: 100%; 
        display: flex;
        align-items: center;
        justify-content: center;
        color: rgb(0, 0, 0); 
        font-family: 'Lilita One';
        font-size: 18px;
        text-align: center;
        position: fixed;
        left: 290px;
        top: 250px;
      
      }
      
      .second{
        position: fixed;
        font-family: 'Lilita One';
        top: 500px;
        left: 320px;
        font-size: 20px;
      } 
      
      .apps{
        width: 200px;
        height: 200px;
        background-color:rgb(207, 204, 204);
        border-radius: 100%; 
        display: flex;
        align-items: center;
        justify-content: center;
        color: rgb(0, 0, 0); 
        font-family: 'Lilita One';
        font-size: 20px;
        text-align: center;
        position: fixed;
        left: 540px;
        top: 250px;
      
      }
      
      .third{
        position: fixed;
        font-family: 'Lilita One';
        top: 500px;
        left: 590px;
        font-size: 20px;
      }
  }  